-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: db_multillantas
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actions`
--

DROP TABLE IF EXISTS `actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actions` (
  `idAction` bigint NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `idActionSection` smallint NOT NULL,
  `name` varchar(50) DEFAULT NULL,
  `nameHtml` varchar(50) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idAction`),
  KEY `fk_actions_actionsection1_idx` (`idActionSection`),
  CONSTRAINT `fk_actions_actionsection1` FOREIGN KEY (`idActionSection`) REFERENCES `actionsection` (`idActionSection`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actions`
--

LOCK TABLES `actions` WRITE;
/*!40000 ALTER TABLE `actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actionsconf`
--

DROP TABLE IF EXISTS `actionsconf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actionsconf` (
  `idActionsConf` bigint NOT NULL,
  `createDate` datetime DEFAULT NULL,
  `relationType` varchar(2) DEFAULT NULL,
  `idRelation` bigint DEFAULT NULL,
  `idAction` bigint NOT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idActionsConf`),
  KEY `fk_actionsconf_actions1_idx` (`idAction`),
  CONSTRAINT `fk_actionsconf_actions1` FOREIGN KEY (`idAction`) REFERENCES `actions` (`idAction`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actionsconf`
--

LOCK TABLES `actionsconf` WRITE;
/*!40000 ALTER TABLE `actionsconf` DISABLE KEYS */;
/*!40000 ALTER TABLE `actionsconf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actionsection`
--

DROP TABLE IF EXISTS `actionsection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actionsection` (
  `idActionSection` smallint NOT NULL AUTO_INCREMENT,
  `sectionName` varchar(500) DEFAULT NULL,
  `iLugar` smallint DEFAULT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idActionSection`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actionsection`
--

LOCK TABLES `actionsection` WRITE;
/*!40000 ALTER TABLE `actionsection` DISABLE KEYS */;
/*!40000 ALTER TABLE `actionsection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses`
--

DROP TABLE IF EXISTS `addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses` (
  `idAddress` int NOT NULL,
  `idUser` int NOT NULL,
  `calle` varchar(500) DEFAULT NULL,
  `numInt` varchar(45) DEFAULT NULL,
  `numExt` varchar(45) DEFAULT NULL,
  `entreCalles` varchar(500) DEFAULT NULL,
  `codigoColonia` int DEFAULT NULL,
  `lat` varchar(45) DEFAULT NULL,
  `long` varchar(45) DEFAULT NULL,
  `bPrincipal` tinyint DEFAULT NULL,
  PRIMARY KEY (`idAddress`),
  KEY `fk_addresses_users1_idx` (`idUser`),
  CONSTRAINT `fk_addresses_users1` FOREIGN KEY (`idUser`) REFERENCES `users` (`idUser`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses`
--

LOCK TABLES `addresses` WRITE;
/*!40000 ALTER TABLE `addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_items` (
  `keyx` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `idCart` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int DEFAULT NULL,
  `precio` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`keyx`),
  KEY `fk_cart_items_carts1_idx` (`idCart`),
  KEY `fk_cart_items_productos1_idx` (`idProducto`),
  CONSTRAINT `fk_cart_items_carts1` FOREIGN KEY (`idCart`) REFERENCES `carts` (`idCart`),
  CONSTRAINT `fk_cart_items_productos1` FOREIGN KEY (`idProducto`) REFERENCES `productos` (`idProducto`)
) ENGINE=InnoDB AUTO_INCREMENT=110 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carts`
--

DROP TABLE IF EXISTS `carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carts` (
  `idCart` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `idUser` int DEFAULT NULL,
  `guest_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idCart`),
  KEY `fk_carts_users1_idx` (`idUser`),
  CONSTRAINT `fk_carts_users1` FOREIGN KEY (`idUser`) REFERENCES `users` (`idUser`)
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carts`
--

LOCK TABLES `carts` WRITE;
/*!40000 ALTER TABLE `carts` DISABLE KEYS */;
/*!40000 ALTER TABLE `carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_status_ordenes`
--

DROP TABLE IF EXISTS `cat_status_ordenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_status_ordenes` (
  `idStatusOrden` int NOT NULL AUTO_INCREMENT COMMENT 'ID ├║nico del status',
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'C├│digo ├║nico del status (PENDIENTE, PAGADA, etc.)',
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre descriptivo del status en espa├▒ol',
  `descripcion` text COLLATE utf8mb4_unicode_ci COMMENT 'Descripci├│n detallada del status',
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Color para UI (yellow, blue, green, red, etc.)',
  `orden` int DEFAULT NULL COMMENT 'Orden de visualizaci├│n',
  `activo` tinyint(1) DEFAULT NULL COMMENT 'Indica si el status est├í activo',
  `createDate` datetime DEFAULT NULL COMMENT 'Fecha de creaci├│n',
  `updateDate` datetime DEFAULT NULL COMMENT 'Fecha de actualizaci├│n',
  PRIMARY KEY (`idStatusOrden`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `idx_cat_status_ordenes_codigo` (`codigo`),
  KEY `idx_cat_status_ordenes_activo` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cat├ílogo de status para ├│rdenes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_status_ordenes`
--

LOCK TABLES `cat_status_ordenes` WRITE;
/*!40000 ALTER TABLE `cat_status_ordenes` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_status_ordenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cat_status_payment`
--

DROP TABLE IF EXISTS `cat_status_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cat_status_payment` (
  `idStatusPayment` int NOT NULL COMMENT 'ID ├║nico del status de pago',
  `codigo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'C├│digo ├║nico del status (PENDIENTE, APROBADO, etc.)',
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nombre descriptivo del status en espa├▒ol',
  `descripcion` text COLLATE utf8mb4_unicode_ci COMMENT 'Descripci├│n detallada del status',
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Color para UI (yellow, green, red, etc.)',
  `orden` int DEFAULT NULL COMMENT 'Orden de visualizaci├│n',
  `activo` tinyint(1) DEFAULT NULL COMMENT 'Indica si el status est├í activo',
  `createDate` datetime DEFAULT NULL COMMENT 'Fecha de creaci├│n',
  `updateDate` datetime DEFAULT NULL COMMENT 'Fecha de actualizaci├│n',
  PRIMARY KEY (`idStatusPayment`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `idx_cat_status_pagos_codigo` (`codigo`),
  KEY `idx_cat_status_pagos_activo` (`activo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cat├ílogo de status para pagos';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cat_status_payment`
--

LOCK TABLES `cat_status_payment` WRITE;
/*!40000 ALTER TABLE `cat_status_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `cat_status_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menupermisos`
--

DROP TABLE IF EXISTS `menupermisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menupermisos` (
  `idMenuPermiso` bigint NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `typeRelation` varchar(2) DEFAULT NULL,
  `idRelation` bigint DEFAULT NULL,
  `idMenu` bigint NOT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idMenuPermiso`),
  KEY `fk_menupermisos_menus1_idx` (`idMenu`),
  CONSTRAINT `fk_menupermisos_menus1` FOREIGN KEY (`idMenu`) REFERENCES `menus` (`idMenu`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menupermisos`
--

LOCK TABLES `menupermisos` WRITE;
/*!40000 ALTER TABLE `menupermisos` DISABLE KEYS */;
INSERT INTO `menupermisos` VALUES (1,'2026-01-12 00:00:00','R',1,1,1),(2,'2026-01-12 00:00:00','R',1,2,1),(3,'2026-01-12 00:00:00','R',1,3,1);
/*!40000 ALTER TABLE `menupermisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menus` (
  `idMenu` bigint NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `idMenuPadre` bigint DEFAULT NULL,
  `lugar` float DEFAULT NULL,
  `name` varchar(45) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `icon` varchar(500) DEFAULT NULL,
  `linkCat` varchar(1000) DEFAULT NULL,
  `linkList` varchar(1000) DEFAULT NULL,
  `imgDash` varchar(1000) DEFAULT NULL,
  `imgDashSize` float DEFAULT NULL,
  `idAplication` int DEFAULT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idMenu`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
INSERT INTO `menus` VALUES (1,'2026-01-12 00:00:00',0,50,'Seguridad','En esta secci├│n se maneja la seguridad del sitio','','','','',0,1,1),(2,'2026-01-12 00:00:00',1,1,'Usuarios','Catalogo de usuarios y asignaci├│n de permisos','','','userList','people',50,1,1),(3,'2026-01-12 00:00:00',1,2,'Roles','Catalogo de roles y asignaci├│n de permisos','','','roleList','lock_person',50,1,1);
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `keyx` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `idOrder` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int DEFAULT NULL,
  `precio` decimal(18,2) DEFAULT NULL,
  `subtotal` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`keyx`),
  KEY `idOrder` (`idOrder`),
  KEY `idProducto` (`idProducto`),
  CONSTRAINT `order_items_ibfk_1` FOREIGN KEY (`idOrder`) REFERENCES `orders` (`idOrder`),
  CONSTRAINT `order_items_ibfk_2` FOREIGN KEY (`idProducto`) REFERENCES `productos` (`idProducto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `idOrder` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `idUser` int NOT NULL,
  `total` decimal(18,2) DEFAULT NULL,
  `idStatusOrden` int NOT NULL,
  `payment_id` int DEFAULT NULL,
  `external_reference` varchar(255) DEFAULT NULL,
  `notas` varchar(5000) DEFAULT NULL,
  PRIMARY KEY (`idOrder`),
  KEY `idUser` (`idUser`),
  KEY `fk_orders_cat_status_ordenes1_idx` (`idStatusOrden`),
  CONSTRAINT `fk_orders_cat_status_ordenes1` FOREIGN KEY (`idStatusOrden`) REFERENCES `cat_status_ordenes` (`idStatusOrden`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`idUser`) REFERENCES `users` (`idUser`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `idPayment` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `idOrder` int NOT NULL,
  `amount` decimal(18,2) DEFAULT NULL,
  `method` varchar(50) DEFAULT NULL,
  `idStatusPayment` int NOT NULL,
  `external_id` varchar(255) DEFAULT NULL,
  `external_reference` varchar(255) DEFAULT NULL,
  `payment_data` text,
  PRIMARY KEY (`idPayment`),
  KEY `idOrder` (`idOrder`),
  KEY `fk_payments_cat_status_pagos1_idx` (`idStatusPayment`),
  CONSTRAINT `fk_payments_cat_status_pagos1` FOREIGN KEY (`idStatusPayment`) REFERENCES `cat_status_payment` (`idStatusPayment`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`idOrder`) REFERENCES `orders` (`idOrder`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `idProducto` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `activo` tinyint DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `descripcion` varchar(5000) DEFAULT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `ancho` varchar(45) DEFAULT NULL,
  `perfil` varchar(45) DEFAULT NULL,
  `rin` varchar(45) DEFAULT NULL,
  `precio` decimal(18,2) DEFAULT NULL,
  `stock` int DEFAULT NULL,
  `imagen_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`idProducto`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `idRol` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `active` smallint DEFAULT NULL,
  PRIMARY KEY (`idRol`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'2026-01-12 00:00:00','Admin','Son los usuarios administradores',1);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `keyx` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `idUser` int NOT NULL,
  `idRol` int NOT NULL,
  PRIMARY KEY (`keyx`),
  KEY `fk_user_roles_users_idx` (`idUser`),
  KEY `fk_user_roles_roles1_idx` (`idRol`),
  CONSTRAINT `fk_user_roles_roles1` FOREIGN KEY (`idRol`) REFERENCES `roles` (`idRol`),
  CONSTRAINT `fk_user_roles_users` FOREIGN KEY (`idUser`) REFERENCES `users` (`idUser`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,'2026-01-12 00:00:00',1,1),(4,'2026-01-14 10:18:24',2,1);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `idUser` int NOT NULL AUTO_INCREMENT,
  `createDate` datetime DEFAULT NULL,
  `updateDate` datetime DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `userName` varchar(50) DEFAULT NULL,
  `pwd` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `active` tinyint DEFAULT NULL,
  PRIMARY KEY (`idUser`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'2026-01-12 00:00:00','2026-01-12 00:00:00','RUB├ëN MORENO SOTO','userRuben','$2a$10$AL/zF9lNZ1v5IrL2JBqJAOFtUNhXIgUH1B01GXa.Wq2PHLJaMLeTq',NULL,NULL,1),(2,'2026-01-13 20:07:00','2026-01-13 20:07:00','ALAN ALEXIS G├ôMEZ MORENO','Alan2458y','$2a$10$DMy.sb1i/6gX5mH8ivE2DuexyChyu8dLMQNFiNdm0MIreD6boGv/S',NULL,NULL,1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-19 12:57:15
